name: carp_study_app
description: The generic CARP study app

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.30.3

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=2.2.0"


dependencies:
  flutter:
    sdk: flutter

  carp_core: ^0.30.1
  carp_mobile_sensing: ^0.30.4
  carp_context_package: ^0.30.0
  carp_survey_package: ^0.30.0
  carp_audio_package: ^0.30.1
  carp_backend: ^0.30.3
  # carp_study_generator: 
  #   path: ../carp/carp.sensing-flutter/utilities/carp_study_generator/

  #carp_communication_package: ^0.6.1
  #carp_health_package: ^0.6.1
  
  research_package: ^0.6.3

  flutter_launcher_icons: ^0.9.1
  uuid: ^3.0.4
  shared_preferences: ^2.0.6
  url_launcher: ^6.0.9
  timeago: ^3.1.0
  expandable: ^5.0.1
  charts_flutter: ^0.11.0
  intl: ^0.17.0
  flutter_markdown: ^0.6.4

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.0

  flutter_localizations:
    sdk: flutter


# Overriding carp libraries to use the local or github copy
# Remove this before release of app
dependency_overrides:
  # carp_core:
  #   path: ../carp/carp.sensing-flutter/carp_core/
#  carp_mobile_sensing:
#    path: ../carp/carp.sensing-flutter/carp_mobile_sensing/
#  carp_context_package:
#    path: ../carp/carp.sensing-flutter/packages/carp_context_package/
#  carp_survey_package:
#    path: ../carp/carp.sensing-flutter/packages/carp_survey_package/
#  carp_audio_package:
#    path: ../carp/carp.sensing-flutter/packages/carp_audio_package/
#  carp_backend:
#    path: ../carp/carp.sensing-flutter/backends/carp_backend/
#  carp_webservices:
#    path: ../carp/carp.sensing-flutter/backends/carp_webservices/
#  research_package:
#    path: ../research.package/

dev_dependencies:
  # flutter_test:
  #   sdk: flutter
  json_serializable: ^4.1.4
  build_runner: ^2.1.0
  test: ^1.17.10 
#  carp_study_generator: ^0.30.3+1
  carp_study_generator: 
    path: ../carp/carp.sensing-flutter/utilities/carp_study_generator/


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# Is used to change the default app launch icons on iOS and Android.
# To install:
#  1. import the 'flutter_launcher_icons' package above
#  2. add the 'flutter_icons:' section below
#  3. run 'flutter pub get'
#  3. run 'flutter pub run flutter_launcher_icons:main'
flutter_icons:
  android: true
  ios: true
  remove_alpha_ios: true
  image_path: "assets/logo.png"
  # image_path: "assets/app_icon.png"

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/icons/
    - assets/lang/
    - assets/lang_local/
    - assets/carp_logo.png
    - assets/logo.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
