<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.cachet.carp_study_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="${applicationName}"
        android:label="CARP Studies"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity">
            <!-- Deep linking -->
            <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="cans.cachet.dk" />
                <data android:scheme="carp.studies" />
                <data android:scheme="studies" />
                <data android:scheme="carp-studies" />
            </intent-filter>
        </activity>
    </application>
</manifest>
