<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChNAYgHCPK6BWjXw6kK7vx8AEKYBKaQYY</string>
	<key>GCM_SENDER_ID</key>
	<string>106781470733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cachet.carpstudyapp</string>
	<key>PROJECT_ID</key>
	<string>carp-test-20b92</string>
	<key>STORAGE_BUCKET</key>
	<string>carp-test-20b92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106781470733:ios:96daa6e179f486318a2544</string>
</dict>
</plist>